body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  margin: 30px 10px;
  border-radius: 10px;
  background: #f8f6f6;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

nav h4 {
  font-size: 20px;
  color: rgb(76, 76, 152);
}
.nav-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 40px;
  padding: 0 40px;
  text-transform: capitalize;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: crimson;
  border-bottom: 1px solid salmon;
}

main {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 180px;
  padding: 40px;
  background-color: #fafafa;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.color {
  color: rgb(76, 76, 152);
}

.btn {
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  font-weight: 600;
  color: rgb(76, 76, 152);
  border-radius: 8px;
  background-color: rgb(246, 249, 246);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.btn-hero {
  padding: 14px;
  height: 50px;
  width: 200px;
}

.btn-hero:hover {
  color: crimson;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 768px) {
  .container {
    padding: 15px;
   
    flex: wrap;
  }
}
